---
import Sam170703DevLayout from "../layouts/Sam170703dev-Layout.astro"
---
<Sam170703DevLayout title="SVM" page="Inicio">
    <main>
        <h1>Hola mundo! Este es mi Layout Custom</h1>
        <style>
            h1 {
                text-align: center;
                color: cyan;
            }
        </style>
    </main>
</Sam170703DevLayout>