---
console.log("GET - /");
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuel Vergara Martín</title>
</head>
<body>
    <div id="container">
        <h1>Página web en desarrollo. Disponible muy pronto</h1>
    </div>
</body>
<style>
    :root {
        color-scheme: dark light;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: red;
    }
</style>
</html>