---
console.log("Menu loaded sucessfully");
---
<div id="main_menu">
    <button id="inicio_menu_button" type="button">Inicio</button>
    <button id="portafolio_menu_button" type="button">Portafolio</button>
    <button id="servicios_menu_button" type="button">Servicios</button>
    <button id="contacto_menu_button" type="button">Contacto</button>
</div>
<style>
    #main_menu {
        grid-row: 1/2;
        background-color: lightsalmon;
        padding: 10px;
    }
</style>