---
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string,
    page: string
}

const { title, page } = Astro.props;

console.log("Sam170703dev-Layout loaded sucessfully");
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - {page}</title>
    <style>
        :root {
            color-scheme: dark light;
        }
        #main_container {
            display: grid;
            grid-template-rows: 75px 70fr 2fr;
        }
    </style>
</head>
<body>
    <div id="main_container">
        <Menu />
        <div id="content">
            <slot />
        </div>
        <Footer />
    </div>
</body>
</html>